.DS_Store

# Local tooling
.idea/
.gitnexus/
.vscode/

# NPM
node_modules/

# Dev
dev/
dev_firefox/
dev_safari/

# Prod
dist/
dist_firefox/
dist_safari/
builds/
changelogs/
assets/shared

# Xcode
*.xcuserstate
*.xcuserdatad

.context
.cursorrules
.env
.env.*
!.env.example
!**/.env.example
context/

# Python
__pycache__/
*.py[cod]
