.obsidian-reader-active[data-reader-theme="ayu"] {
	--background-primary: #fcfcfc;
	--background-primary-alt: #f8f9fa;
	--text-normal: #5c6166;
	--text-muted: #8a9199;
	--text-faint: #adaeb1;
	--text-accent: #5c6166;
	--text-accent-hover: #22a4e6;
	--background-modifier-border: #6b7d8f1f;
	--text-selection: rgba(3, 91, 214, 0.15);
	--color-red: #f07171;
	--color-orange: #fa8532;
	--color-yellow: #eba400;
	--color-green: #86b300;
	--color-cyan: #4cbf99;
	--color-blue: #22a4e6;
	--color-purple: #a37acc;
	--color-pink: #f2a191;

	&.theme-dark,
	.theme-dark {
		--background-primary: #1f2430;
		--background-primary-alt: #242936;
		--text-normal: #cccac2;
		--text-muted: #707a8c;
		--text-faint: #5a6673;
		--text-accent: #cccac2;
		--text-accent-hover: #73d0ff;
		--background-modifier-border: #282e3b;
		--text-selection: rgba(101, 123, 153, 0.15);
		--color-red: #f28779;
		--color-orange: #ffa659;
		--color-yellow: #ffd137;
		--color-green: #d5ff80;
		--color-cyan: #95e6cb;
		--color-blue: #73d0ff;
		--color-purple: #dfbfff;
		--color-pink: #f29668;
	}
}

.obsidian-reader-active[data-reader-theme="catppuccin"] {
	--background-primary: #eff1f5;
	--background-primary-alt: #e6e9ef;
	--text-normal: #4c4f69;
	--text-muted: #8c8fa1;
	--text-faint: #acb0be;
	--text-accent: #4c4f69;
	--text-accent-hover: #dd7878;
	--background-modifier-border: #dce0e8;
	--text-selection: rgba(172, 176, 190, 0.3);
	--color-red: #E64553;
	--color-orange: #FE640C;
	--color-yellow: #DF8E1D;
	--color-green: #40A02B;
	--color-cyan: #17929A;
	--color-blue: #2166F6;
	--color-purple: #8938EF;
	--color-pink: #EA77CB;

	&.theme-dark,
	.theme-dark {
		--background-primary: #242634;
		--background-primary-alt: #303446;
		--text-normal: #c6d0f5;
		--text-muted: #A6ADCE;
		--text-faint: #848BA7;
		--text-accent: #c6d0f5;
		--text-accent-hover: #EFA076;
		--background-modifier-border: #41455A;
		--text-selection: rgba(98, 104, 128, 0.5);
		--color-red: #EB999C;
		--color-orange: #EFA076;
		--color-yellow: #E5C890;
		--color-green: #A6D18A;
		--color-cyan: #81C8BE;
		--color-blue: #8CAAEE;
		--color-purple: #CA9EE6;
		--color-pink: #F4B9E5;
	}
}

.obsidian-reader-active[data-reader-theme="everforest"] {
	--background-primary: #fdf6e3;
	--background-primary-alt: #f4f0d9;
	--text-normal: #5c6a72;
	--text-muted: #829181;
	--text-faint: #adb5a4;
	--text-accent: #5c6a72;
	--text-accent-hover: #3795c5;
	--background-modifier-border: #e6e2cc;
	--text-selection: rgba(198, 214, 152, 0.4);
	--color-red: #f85552;
	--color-orange: #f57d26;
	--color-yellow: #dfa000;
	--color-green: #8da101;
	--color-cyan: #35a77c;
	--color-blue: #3795C5;
	--color-purple: #df69ba;
	--color-pink: #df69ba;

	&.theme-dark,
	.theme-dark {
		--background-primary: #2d353b;
		--background-primary-alt: #343f44;
		--text-normal: #d3c6aa;
		--text-muted: #9da9a0;
		--text-faint: #627972;
		--text-accent: #d3c6aa;
		--text-accent-hover: #a7c080;
		--background-modifier-border: #475258;
		--text-selection: rgba(134, 70, 93, 0.5);
		--color-red: #e67e80;
		--color-orange: #e69875;
		--color-yellow: #dbbc7f;
		--color-green: #a7c080;
		--color-cyan: #83c092;
		--color-blue: #7fbbb3;
		--color-purple: #d699b6;
		--color-pink: #d699b6;
	}
}

.obsidian-reader-active[data-reader-theme="gruvbox"] {
	--background-primary: #fbf1c7;
	--background-primary-alt: #f2e5bc;
	--text-normal: #3c3836;
	--text-muted: #7c7065;
	--text-faint: #a89984;
	--text-accent: #3c3836;
	--text-accent-hover: #d65d0e;
	--background-modifier-border: #e0d09a;
	--text-selection: rgba(192, 165, 125, 0.3);
	--color-red: #cc241d;
	--color-orange: #d65d0e;
	--color-yellow: #d79921;
	--color-green: #98971a;
	--color-cyan: #689d6a;
	--color-blue: #458588;
	--color-purple: #b16286;
	--color-pink: #b16286;

	&.theme-dark,
	.theme-dark {
		--background-primary: #282828;
		--background-primary-alt: #3c3836;
		--text-normal: #ebdbb2;
		--text-muted: #bdae93;
		--text-faint: #928374;
		--text-accent: #ebdbb2;
		--text-accent-hover: #fe8019;
		--background-modifier-border: #504945;
		--text-selection: rgba(173, 149, 139, 0.3);
		--color-red: #fb4934;
		--color-orange: #fe8019;
		--color-yellow: #fabd2f;
		--color-green: #b8bb26;
		--color-cyan: #8ec07c;
		--color-blue: #83a598;
		--color-purple: #d3869b;
		--color-pink: #d3869b;
	}
}

.obsidian-reader-active[data-reader-theme="rose-pine"] {
	--background-primary: #fffaf3;
	--background-primary-alt: #faf4ed;
	--text-normal: #575279;
	--text-muted: #9893a5;
	--text-faint: #c5c0c8;
	--text-accent: #575279;
	--text-accent-hover: #d7827e;
	--background-modifier-border: #f4ede8;
	--text-selection: rgba(191, 180, 181, 0.35);
	--color-red: #b4637a;
	--color-orange: #d7827e;
	--color-yellow: #ea9d34;
	--color-green: #56949f;
	--color-cyan: #d7827e;
	--color-blue: #286983;
	--color-purple: #907aa9;
	--color-pink: #ebbcba;

	&.theme-dark,
	.theme-dark {
		--background-primary: #191724;
		--background-primary-alt: #1f1d2e;
		--text-normal: #e0def4;
		--text-muted: #6e6a86;
		--text-faint: #524f67;
		--text-accent: #e0def4;
		--text-accent-hover: #ea9a97;
		--background-modifier-border: #21202e;
		--text-selection: rgba(126, 121, 155, 0.35);
		--color-red: #eb6f92;
		--color-orange: #ea9a97;
		--color-yellow: #f6c177;
		--color-green: #9ccfd8;
		--color-cyan: #ea9a97;
		--color-blue: #3e8fb0;
		--color-purple: #c4a7e7;
		--color-pink: #ebbcba;
	}
}

.obsidian-reader-active[data-reader-theme="nord"] {
	--background-primary: #eceff4;
	--background-primary-alt: #e5e9f0;
	--text-normal: #2e3440;
	--text-muted: #8a9199;
	--text-faint: #bbc3d4;
	--text-accent: #2e3440;
	--text-accent-hover: #5e81ac;
	--background-modifier-border: #d8dee9;
	--text-selection: rgba(136, 192, 208, 0.3);
	--color-red: #BF616A;
	--color-orange: #D08770;
	--color-yellow: #EBCB8B;
	--color-green: #A3BE8C;
	--color-cyan: #88C0D0;
	--color-blue: #81A1C1;
	--color-purple: #B48EAD;
	--color-pink: #B48EAD;

	&.theme-dark,
	.theme-dark {
		--background-primary: #3b4252;
		--background-primary-alt: #434c5e;
		--text-normal: #d8dee9;
		--text-muted: #7b88a1;
		--text-faint: #4c566a;
		--text-accent: #d8dee9;
		--text-accent-hover: #88c0d0;
		--background-modifier-border: #4c566a;
		--text-selection: rgba(129, 142, 180, 0.3);
		--color-red: #BF616A;
		--color-orange: #D08770;
		--color-yellow: #EBCB8B;
		--color-green: #A3BE8C;
		--color-cyan: #88C0D0;
		--color-blue: #81A1C1;
		--color-purple: #B48EAD;
		--color-pink: #B48EAD;
	}
}

.obsidian-reader-active[data-reader-theme="solarized"] {
	--background-primary: #fdf6e3;
	--background-primary-alt: #eee8d5;
	--text-normal: #073642;
	--text-muted: #586e75;
	--text-faint: #ABB2AC;
	--text-accent: #073642;
	--text-accent-hover: #268bd2;
	--background-modifier-border: #e9e1c8;
	--text-selection: rgba(202, 197, 182, 0.3);
	--color-red: #dc322f;
	--color-orange: #cb4b16;
	--color-yellow: #b58900;
	--color-green: #859900;
	--color-cyan: #2aa198;
	--color-blue: #268bd2;
	--color-purple: #6c71c4;
	--color-pink: #d33682;

	&.theme-dark,
	.theme-dark {
		--background-primary: #002b36;
		--background-primary-alt: #073642;
		--text-normal: #839496;
		--text-muted: #586e75;
		--text-faint: #31535b;
		--text-accent: #839496;
		--text-accent-hover: #268bd2;
		--background-modifier-border: #19414B;
		--text-selection: rgba(15, 81, 98, 0.3);
		--color-red: #dc322f;
		--color-orange: #cb4b16;
		--color-yellow: #b58900;
		--color-green: #859900;
		--color-cyan: #2aa198;
		--color-blue: #268bd2;
		--color-purple: #6c71c4;
		--color-pink: #d33682;
	}
}

.obsidian-reader-active[data-reader-theme="flexoki"] {
	--background-primary: #FFFCF0;
	--background-primary-alt: #F2F0E5;
	--text-normal: #100F0F;
	--text-muted: #5c5c5c;
	--text-faint: #B7B5AC;
	--text-accent: #100F0F;
	--text-accent-hover: #24837B;
	--background-modifier-border: #E6E4D9;
	--text-selection: #DDF1E4;
	--color-red: #AF3029;
	--color-orange: #BC5215;
	--color-yellow: #AD8301;
	--color-green: #66800B;
	--color-cyan: #24837B;
	--color-blue: #205EA6;
	--color-purple: #5E409D;
	--color-pink: #A02F6F;

	&.theme-dark,
	.theme-dark {
		--background-primary: #100F0F;
		--background-primary-alt: #1C1B1A;
		--text-normal: #CECDC3;
		--text-muted: #878580;
		--text-faint: #575653;
		--text-accent: #CECDC3;
		--text-accent-hover: #3AA99F;
		--background-modifier-border: #282726;
		--text-selection: #101F1D;
		--color-red: #D14D41;
		--color-orange: #DA702C;
		--color-yellow: #D0A215;
		--color-green: #879A39;
		--color-cyan: #3AA99F;
		--color-blue: #4385BE;
		--color-purple: #8B7EC8;
		--color-pink: #CE5D97;
	}
}

.obsidian-reader-active {
	--background-primary: #fff;
	--background-primary-alt: #fcfcfc;
	--text-normal: #111111;
	--text-muted: #5c5c5c;
	--text-faint: #ababab;
	--text-accent: #111111;
	--text-accent-hover: #8a5cf5;
	--background-modifier-border: #e0e0e0;
	--text-selection: #E8DFFD;
	--shadow-s:
		0px 1px 2px rgba(0, 0, 0, .028),
		0px 3.4px 6.7px rgba(0, 0, 0, .042),
		0px 15px 30px rgba(0, 0, 0, .07);
	--footnote-popover-background: var(--background-primary);

	--color-red: #e93147;
	--color-orange: #ec7500;
	--color-yellow: #e0ac00;
	--color-green: #08b94e;
	--color-cyan: #00bfbc;
	--color-blue: #086ddd;
	--color-purple: #7852ee;
	--color-pink: #d53984;
	--dropdown-background-position: right .5em top 50%, 0 0;
	--dropdown-background-size: 1em auto, 100%;

	&.theme-dark {
		color-scheme: dark;
		--background-primary: #1e1e1e;
		--background-primary-alt: #212121;
		--text-normal: #dadada;
		--text-muted: #b3b3b3;
		--text-faint: #666666;
		--text-accent: #dadada;
		--text-accent-hover: #a68af9;
		--background-modifier-border: #363636;
		--text-selection: #3A2D53;
		--shadow-s:
			0px 1px 2px rgba(0, 0, 0, 0.121),
			0px 3.4px 6.7px rgba(0, 0, 0, 0.179),
			0px 15px 30px rgba(0, 0, 0, 0.3);
		--footnote-popover-background: var(--background-primary-alt);
		--color-red: #fb464c;
		--color-orange: #e9973f;
		--color-yellow: #e0de71;
		--color-green: #44cf6e;
		--color-cyan: #53dfdd;
		--color-blue: #54b3ff;
		--color-purple: #a882ff;
		--color-pink: #fa99cd;
	}

}
