:root {
	--accent-h: 258;
	--accent-s: 88%;
	--accent-l: 66%;

	--background-primary: var(--color-base-00);
	--background-primary-alt: var(--color-base-10);
	--background-secondary: var(--color-base-20);

	--background-modifier-border: var(--color-base-30);
	--background-modifier-border-hover: var(--color-base-35);
	--background-modifier-border-focus: var(--color-base-40);

	--background-modifier-hover: rgba(var(--mono-rgb-100), .075);

	--dropdown-background: transparent;
	--dropdown-background-hover: var(--interactive-hover);
	--dropdown-background-position: right .25rem top 50%, 0 0;
	--dropdown-background-size: 1rem auto, 100%;
	--dropdown-padding: 0 .5rem;

	--divider-color: var(--background-modifier-border);

	--interactive-accent: var(--color-accent-1);
	--interactive-accent-hover: var(--color-accent-2);

	--input-height: 1.875rem;

	--radius-s: 4px;
	--radius-m: 8px;

	--text-error: hsl(var(--color-red-hsl));
	--text-success: hsl(var(--color-green-hsl));
	--text-normal: var(--color-base-100);
	--text-muted: var(--color-base-70);
	--text-faint: var(--color-base-50);
	
	--text-accent: var(--color-accent);
	--text-accent-hover: var(--color-accent-2);
	--text-on-accent: white;

	--text-highlight-bg-rgb: 255, 208, 0;
	--text-highlight-bg: rgba(var(--text-highlight-bg-rgb), .4);

	--font-ui-smaller: 0.8125rem;
	--font-ui-small: 0.875rem;
	--font-ui-medium: 0.9375rem;
	--font-ui-large: 1.5rem;

	--font-default: ui-sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Inter", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Microsoft YaHei Light", sans-serif;
	--font-monospace-default: ui-monospace, SFMono-Regular, "Cascadia Mono", "Roboto Mono", "DejaVu Sans Mono", "Liberation Mono", Menlo, Monaco, "Consolas", "Source Code Pro", monospace;

	/* Toggles */
	--toggle-border-width: 2px;
	--toggle-width: 40px;
	--toggle-radius: 18px;
	--toggle-thumb-color: white;
	--toggle-thumb-radius: 18px;
	--toggle-thumb-height: 18px;
	--toggle-thumb-width: 18px;
}

@media (prefers-color-scheme: light) {
	:root {

		--color-accent-hsl:
				var(--accent-h),
				var(--accent-s),
				var(--accent-l);

		--color-accent:
			hsl(
				var(--accent-h),
				var(--accent-s),
				var(--accent-l));

		--color-accent-1:
			hsl(
				calc(var(--accent-h) - 1),
				calc(var(--accent-s) * 1.01),
				calc(var(--accent-l) * 1.075));

		--color-accent-2:
			hsl(
				calc(var(--accent-h) - 3),
				calc(var(--accent-s) * 1.02),
				calc(var(--accent-l) * 1.15));
		
		--color-accent-3:
			hsl(
				calc(var(--accent-h) + 3),
				calc(var(--accent-s) * 0.96),
				calc(var(--accent-l) * 0.85));

		--color-base-00: #ffffff;
		--color-base-05: #fcfcfc;
		--color-base-10: #fafafa;
		--color-base-20: #f6f6f6;
		--color-base-25: #e3e3e3;

		--color-base-30: #e0e0e0;
		--color-base-35: #d4d4d4;
		--color-base-40: #bdbdbd;

		--color-base-50: #ababab;
		--color-base-60: #707070;
		--color-base-70: #5c5c5c;
		--color-base-100: #222222;

		--color-orange-rgb: 236, 117, 0;
		--color-red: #e93147;
		--color-green: #08b94e;

		--color-red-hsl: 353, 81%, 55%;
		--color-green-hsl: 144, 92%, 38%;

		--mono-rgb-0: 255, 255, 255;
		--mono-rgb-100: 0, 0, 0;

		--text-selection: hsla(var(--color-accent-hsl), 0.2);
		--input-shadow:
			inset 0 0 0 1px rgba(0,0,0,.12),
			0 2px 3px 0 rgba(0,0,0,.05),
			0 1px 1.5px 0 rgba(0,0,0,.03),
			0 1px 2px 0 rgba(0,0,0,.04),
			0 0 0 0 transparent;

		--input-shadow-hover:
			inset 0 0 0 1px rgba(0,0,0,.17),
			0 2px 3px 0 rgba(0,0,0,.1),
			0 1px 1.5px 0 rgba(0,0,0,.03),
			0 1px 2px 0 rgba(0,0,0,.04),
			0 0 0 0 transparent;

		--interactive-normal: var(--color-base-00);
		--interactive-hover: var(--color-base-10);

		--shadow-s:
			0px 1px 2px rgba(0, 0, 0, .028),
			0px 3.4px 6.7px rgba(0, 0, 0, .042),
			0px 15px 30px rgba(0, 0, 0, .07);
	}
}

@media (prefers-color-scheme: dark) {
	:root {
		--color-accent-hsl:
				var(--accent-h),
				var(--accent-s),
				var(--accent-l);

		--color-accent:
			hsl(
				var(--accent-h),
				var(--accent-s),
				var(--accent-l));

		--color-accent-1:
			hsl(
				calc(var(--accent-h) - 3),
				calc(var(--accent-s) * 1.02),
				calc(var(--accent-l) * 1.15));

		--color-accent-2:
			hsl(
				calc(var(--accent-h) - 5),
				calc(var(--accent-s) * 1.05),
				calc(var(--accent-l) * 1.29));

		--color-accent-3:
			hsl(
				calc(var(--accent-h) - 3),
				calc(var(--accent-s) * 1.02),
				calc(var(--accent-l) * 1.29));

		--color-base-00: #1e1e1e;
		--color-base-05: #212121;
		--color-base-10: #242424;
		--color-base-20: #262626;
		--color-base-25: #2a2a2a;

		--color-base-30: #363636;
		--color-base-35: #3f3f3f;
		--color-base-40: #555555;

		--color-base-50: #666666;
		--color-base-60: #999999;
		--color-base-70: #b3b3b3;
		--color-base-100: #dadada;
		
		--color-orange-rgb: 233, 151, 63;

		--color-red-hsl: 358, 96%, 63%;
		--color-green-hsl: 138, 59%, 54%;

		--interactive-accent: var(--color-accent);
		--interactive-accent-hover: var(--color-accent-1);

		--input-shadow:
			inset 0 .5px .5px .5px rgba(255, 255, 255, 0.09),
			0 2px 4px 0 rgba(0,0,0,.15),
			0 1px 1.5px 0 rgba(0,0,0,.1),
			0 1px 2px 0 rgba(0,0,0,.2),
			0 0 0 0 transparent;

		--input-shadow-hover:
			inset 0 .5px 1px .5px rgba(255, 255, 255, 0.16),
			0 2px 3px 0 rgba(0,0,0,.3),
			0 1px 1.5px 0 rgba(0,0,0,.2),
			0 1px 2px 0 rgba(0,0,0,.4),
			0 0 0 0 transparent;

		--mono-rgb-0: 0, 0, 0;
		--mono-rgb-100: 255, 255, 255;

		--text-accent: var(--color-accent-1);
		--text-selection: hsla(var(--color-accent-hsl), 0.3);

		--interactive-normal: var(--color-base-30);
		--interactive-hover: var(--color-base-35);

		--shadow-s:
			0px 1px 2px rgba(0, 0, 0, 0.121),
			0px 3.4px 6.7px rgba(0, 0, 0, 0.179),
			0px 15px 30px rgba(0, 0, 0, 0.3);
	}
}
