button {
	cursor: pointer;
	width: 100%;
	color: var(--text-normal);
	background-color: var(--background-primary);
	border-radius: 4px;
	box-shadow: 0 0 0 1px var(--background-modifier-border);
	height: var(--input-height);
	user-select: none;
	padding: 4px 12px;
	outline: none;
	border: none;
	&:not(.clickable-icon) {
		background-color: var(--interactive-normal);
		box-shadow: var(--input-shadow);
	}
	&:hover {
		background-color: var(--interactive-hover);
		box-shadow: var(--input-shadow-hover);
	}
	&:active,
	&:focus {
		box-shadow: 0 0 0 2px var(--background-modifier-border-focus);
		transition:
			box-shadow .15s ease-in-out;
	}
	&.mod-cta {
		background-color: var(--interactive-accent);
		color: var(--text-on-accent);
		&:hover {
			background-color: var(--interactive-accent-hover);
		}
		&:active,
		&:focus {
			box-shadow: 0 0 0 2px var(--background-modifier-border-focus);
			transition:
				box-shadow .15s ease-in-out;
		}
	}
}

.clickable-icon,
button.clickable-icon {
	width: 28px;
	height: 28px;
	display: flex;
	padding: 0px 4px;
	background-color: transparent;
	color: var(--text-muted);
	opacity: 0.85;
	align-self: center;
	align-items: center;
	justify-content: center;
	box-shadow: none;
	svg {
		width: 16px;
		height: 16px;
	}
	&:hover {
		color: var(--text-normal);
		background-color: var(--background-modifier-hover);
		opacity: 1;
		box-shadow: none;
	}
}