body.is-dragging {
	cursor: grabbing !important;
}
.property-editor, #template-list li, #vault-list li {
	position: relative;
	z-index: 1;

	&.dragging {
		opacity: 0.5;
		z-index: 1000;
		pointer-events: none;
		cursor: grabbing !important;
	}
}

.drag-handle {
	cursor: grab;
	opacity: 0.5;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left: -2px;
	margin-right: 2px;
	svg {
		width: 16px;
		height: 16px;
	}
	&:hover {
		opacity: 1;
	}
	&:focus, &:active {
		cursor: grabbing !important;
	}
}