svg.lucide-icon {
	stroke-width: 1.75px;
}
.metadata-property-icon {
	margin-inline-start: 4px;
	display: flex;
	align-items: center;
	justify-content: center;
	min-width: 16px;
	svg {
		width: 16px;
		height: 16px;
	}
}