textarea {
	resize: vertical;
	min-height: 3rem;
	padding: 0.375rem 0.5rem;
}
select {
	user-select: none;
	cursor: pointer;
}
select,
input[type="password"],
input[type="text"] {
	height: var(--input-height);
}
select,
input[type="password"],
input[type="text"],
textarea {
	background: var(--background-primary);
	border: 1px solid var(--background-modifier-border);
	font-size: var(--font-ui-smaller);
	color: var(--text-normal);
	font-family: inherit;
	border-radius: var(--radius-s);
	outline: none;
	width: 100%;
	margin: 0;

	&:hover {
		border-color: var(--background-modifier-border-hover);
		transition:
			box-shadow .15s ease-in-out,
			border .15s ease-in-out;
	}
	&:active,
	&:focus,
	&:focus-visible {
		border-color: var(--background-modifier-border-focus);
		box-shadow: 0 0 0 2px var(--background-modifier-border-focus);
		transition:
			box-shadow .15s ease-in-out,
			border .15s ease-in-out;
	}
}
select {
	padding: 0 0.25rem;
}

textarea::placeholder,
input::placeholder {
	color: var(--text-faint);
}

input[type="text"] {
	height: var(--input-height);
	padding: 0 0.5rem;
}

label {
	display: block;
	margin: 20px 0 6px;
	font-weight: 600;
	font-size: var(--font-ui-medium);
}
