#show-variables {
	z-index: 100;
	position: fixed;
	top: 6px;
	right: 32px;
	border-radius: 4px;
	user-select: none;
	background-color: var(--background-primary);
}

.variables-panel {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: var(--background-primary);
	z-index: 100;
	overflow-x: hidden;
	overflow-y: hidden;
	flex-direction: column;

	&.show {
		display: flex;
	}

	.close-panel {
		position: fixed;
		top: 6px;
		right: 8px;
		cursor: pointer;
		border-radius: 4px;
		background-color: transparent;
	}

	h3 {
		margin-top: 0;
		border: none;
		margin-bottom: 0;
	}

	.variables-header {
		padding: 8px 12px 0px;
		border-bottom: 1px solid var(--background-modifier-border);
	}

	.variable-list {
		word-break: break-all;
		overflow-y: auto;
		padding: 2px 12px 8px;
	}

	.variable-item {
		display: flex;
		margin: 4px 0;
		border-bottom: 1px solid var(--background-modifier-border);
		padding: 4px 0;
		&:last-child {
			border-bottom: none;
		}
	}

	.variable-key {
		font-weight: 600;
		color: var(--text-accent);
		margin-right: 8px;
		flex-shrink: 0;
		cursor: pointer;
		transition: color 0.2s ease;

		&:hover {
			color: var(--text-accent-hover);
		}

		&:active {
			color: var(--text-accent-active);
		}
	}

	.variable-value {
		color: var(--text-muted);
		word-break: break-all;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
}
