#show-variables {
	z-index: 100;
	position: fixed;
	top: 6px;
	right: 32px;
	user-select: none;
	background-color: var(--background-primary);
}

.variables-panel {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: var(--background-primary);
	z-index: 100;
	overflow-x: hidden;
	overflow-y: hidden;
	flex-direction: column;

	&.show {
		display: flex;
	}

	.close-panel {
		position: fixed;
		top: 4px;
		right: 4px;
		cursor: pointer;
		background-color: transparent;
	}

	h3 {
		margin-top: 0;
		border: none;
		margin-bottom: 0;
		user-select: none;
	}

	.variables-header {
		padding: 8px 12px 0px;
		border-bottom: 1px solid var(--background-modifier-border);
	}

	.variable-list {
		word-break: break-all;
		overflow-y: auto;
		padding: 8px 12px 8px;
		line-height: 1.3;
	}

	.variable-item {
		display: flex;
		flex-wrap: wrap;
		padding: 6px 0;
		border-bottom: 1px solid var(--background-modifier-border);
		&:last-child {
			border-bottom: none;
		}
	}

	.variable-key {
		font-weight: 600;
		color: var(--text-accent);
		margin-right: 4px;
		flex-shrink: 0;
		cursor: pointer;
		transition: color 0.2s ease;

		&:hover {
			color: var(--text-accent-hover);
		}
	}

	.variable-value {
		color: var(--text-muted);
		word-break: break-all;
		display: -webkit-box;
		-webkit-line-clamp: 2;
		-webkit-box-orient: vertical;  
		overflow: hidden;
	}
}
