.clipper {
	#interpreter {
		display: none;
		flex-direction: column;

		border-radius: 4px;
		background-color: hsla(var(--color-accent-hsl), 0.075);
		border: 1px solid hsla(var(--color-accent-hsl), 0.15);

		&.done {
			background-color: hsla(var(--color-green-hsl), 0.1);
			border-color: hsla(var(--color-green-hsl), 0.15);
			#model-select {
				color: var(--text-success);
				opacity: 1;
			}
		}

		&.error {
			background-color: hsla(var(--color-red-hsl), 0.1);
			border-color: hsla(var(--color-red-hsl), 0.15);

			#model-select {
				color: var(--text-error);
				opacity: 1;
			}
		}
	}

	#prompt-context {
		display: none !important;
	}

	.interpreter-controls {
		display: flex;
		align-items: center;
		padding: 0.25rem 0.5rem;
		padding-inline-end: 0.625rem;
		gap: 0.25rem;
	}

	#model-select {
		user-select: none;
		-webkit-user-select: none;
		cursor: default;
		font-variant: tabular-nums;
		background-color: transparent;
		font-family: var(--font-monospace-default);
		height: 1.5rem;
		appearance: none;
		border-radius: 4px;
		border: none;
		box-shadow: none;
		flex-shrink: 1;
		max-width: 50%;
		font-size: 0.6875rem;
		padding: 0px;
		padding-inline-end: 1.25rem;
		text-overflow: ellipsis;
		color: var(--text-accent);
		opacity: 0.75;
		@media (hover: hover) {
			&:hover {
				opacity: 1;
			}
		}
		&:active,
		&:focus {
			box-shadow: none;
		}
	}

	#interpret-btn {
		cursor: default;
		user-select: none;
		-webkit-user-select: none;
		font-family: var(--font-monospace-default);
		font-weight: 600;
		font-size: 0.75rem;
		height: 1.5rem;
		padding: 0;
		box-shadow: none;
		width: auto;
		white-space: nowrap;
		background-color: transparent;
		flex-grow: 1;
		text-align: end;
		color: var(--text-accent);

		&.processing {
			pointer-events: none;
			cursor: default;
			color: var(--text-accent);
			@media (hover: hover) {
				&:hover {
					color: var(--text-accent);
				}
			}
		}
		&.done {
			pointer-events: none;
			cursor: default;
			color: var(--text-success);
			@media (hover: hover) {
				&:hover {
					color: var(--text-success);
				}
			}
			~ {
				#interpreter-timer {
					color: var(--text-success);
				}
			}
		}
		&.error {
			pointer-events: none;
			cursor: default;
			color: var(--text-error);
			@media (hover: hover) {
				&:hover {
					color: var(--text-error);
				}
			}
			~ {
				#interpreter-timer {
					color: var(--text-error);
				}
			}
		}
		@media (hover: hover) {
			&:hover {
				color: var(--color-accent-3);
			}
		}
	}

	#interpreter-timer {
		user-select: none;
		-webkit-user-select: none;
		cursor: default;
		font-size: 0.75rem;
		color: var(--text-accent);
		min-width: 2rem;
		text-align: end;
		font-family: var(--font-monospace-default);
		font-variant: tabular-nums;
	}


	#interpreter-error {
		border-top: 1px solid  hsla(var(--color-red-hsl), 0.15);
		padding: 8px;
		font-size: var(--font-ui-smaller);
		color: var(--text-error);
		white-space: pre-wrap;
		word-break: break-word;
		max-height: 150px;
		overflow-y: auto;
		display: none;
		line-height: 1.2;
	}
	
	#clip-btn {
		&:disabled {
			opacity: 0.67;
			cursor: not-allowed;
		}
	}
}

.model-form {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	
	.setting-item {
		border: none;
		padding: 0;
	}

	.setting-item-info {
		margin-bottom: 0.5rem;
		
		label {
			font-weight: 600;
			margin-bottom: 0.25rem;
			display: block;
		}
	}

	.setting-item-description {
		color: var(--text-muted);
		font-size: var(--font-ui-smaller);
		margin-bottom: 0.25rem;
	}

	.setting-item-control {
		input {
			width: 100%;
		}
	}
}

#model-modal {
	.modal {
		max-width: 500px;
	}
}

.model-list-container {
	margin-bottom: 24px;
}

#model-list {
	margin: 0 0 8px 0;
	.model-list-item {
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 0.25rem;
		border-bottom: 1px solid var(--background-modifier-border);
		padding: 0.25rem 0;
		user-select: none;
	}
	.model-list-item-actions {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: flex-end;
		margin-inline-start: auto;
		gap: 2px;
		.clickable-icon {
			height: 24px;
			width: 24px;
		}
	}
	.model-list-item-info {
		display: flex;
		flex-direction: row;
		gap: 0.5rem;
		min-width: 60%;
	}
	.model-name {
		font-size: var(--font-ui-small);
		min-width: 50%;
	}
	.model-provider {
		font-size: var(--font-ui-smaller);
		color: var(--text-muted);
	}
}

#interpreter-section {
	&.is-disabled {
		form > div:not(:first-child) {
			opacity: 0.5;
			pointer-events: none;
		}
	}
}

.token-counter {
	font-size: 0.8em;
	color: var(--text-muted);
	font-family: var(--font-monospace-default);
	margin-right: 8px;
	
	&.warning {
		color: var(--text-warning);
	}
	
	&.error {
		color: var(--text-error);
	}
}
