.clipper {
	#interpreter {
		display: none;
		flex-direction: column;
		gap: 8px;

		border-radius: 4px;
		background-color: hsla(var(--color-accent-hsl), 0.075);
		border: 1px solid hsla(var(--color-accent-hsl), 0.15);

		&.done {
			background-color: hsla(var(--color-green-hsl), 0.1);
			border-color: hsla(var(--color-green-hsl), 0.15);
			#model-select {
				color: var(--text-success);
				opacity: 1;
			}
		}

		&.error {
			background-color: hsla(var(--color-red-hsl), 0.1);
			border-color: hsla(var(--color-red-hsl), 0.15);

			#model-select {
				color: var(--text-error);
				opacity: 1;
			}
		}
	}

	#prompt-context {
		display: none !important;
	}

	.interpreter-controls {
		display: flex;
		align-items: center;
		padding: 0.25rem 0.5rem;
		padding-inline-end: 0.625rem;
		gap: 0.25rem;
	}

	#model-select {
		user-select: none;
		cursor: default;
		font-variant: tabular-nums;
		background-color: transparent;
		font-family: var(--font-monospace-default);
		height: 1.5rem;
		appearance: none;
		border-radius: 4px;
		border: none;
		box-shadow: none;
		flex-shrink: 1;
		max-width: 40%;
		font-size: 0.6875rem;
		padding: 0px;
		color: var(--text-accent);
		opacity: 0.75;
		&:hover {
			opacity: 1;
		}
		&:active,
		&:focus {
			box-shadow: none;
		}
	}

	#interpret-btn {
		user-select: none;
		font-family: var(--font-monospace-default);
		font-weight: 600;
		font-size: 0.75rem;
		height: 1.5rem;
		padding: 0;
		box-shadow: none;
		width: auto;
		white-space: nowrap;
		background-color: transparent;
		flex-grow: 1;
		text-align: end;
		color: var(--text-accent);

		&.processing {
			pointer-events: none;
			cursor: default;
			color: var(--text-accent);
			&:hover {
				color: var(--text-accent);
			}
		}
		&.done {
			pointer-events: none;
			cursor: default;
			color: var(--text-success);
			&:hover {
				color: var(--text-success);
			}
			~ {
				#llm-timer {
					color: var(--text-success);
				}
			}
		}
		&.error {
			pointer-events: none;
			cursor: default;
			color: var(--text-error);
			&:hover {
				color: var(--text-error);
			}
			~ {
				#llm-timer {
					color: var(--text-error);
				}
			}
		}
		&:hover {
			color: var(--color-accent-3);
		}
	}

	#llm-timer {
		user-select: none;
		cursor: default;
		font-size: 0.75rem;
		color: var(--text-accent);
		min-width: 2rem;
		text-align: end;
		font-family: var(--font-monospace-default);
		font-variant: tabular-nums;
	}


	#interpreter-error {
		border: 1px solid var(--background-modifier-border);
		border-radius: 4px;
		padding: 8px;
		font-size: var(--font-ui-smaller);
		color: var(--text-error);
		white-space: pre-wrap;
		word-break: break-word;
		max-height: 150px;
		overflow-y: auto;
		display: none;
		line-height: 1.2;
	}
	
	#clip-button {
		&:disabled {
			opacity: 0.67;
			cursor: not-allowed;
		}
	}
}