.is-firefox-mobile {
	font-size: 20px;
}
.is-mobile-safari {
	font-size: 16px;
	
}

.resizing { 
	.clipper .clipper-footer {
		
		will-change: top;
	}
}

.is-mobile-safari {
	.clipper .clipper-footer {
		position: fixed;
		will-change: top;
		top: calc((var(--vh) * 100) - 170px);
	}
}

.is-mobile-safari,
.is-firefox-mobile {
	height: 100%;
	--icon-size: 1rem;
	--input-shadow: none;
	--input-shadow-hover: none;

	button {
		--input-height: 2.5rem;
		border-radius: 2rem;
		border: 0;
		box-shadow: none;
	}

	a, button, label, input, textarea, select {
		-webkit-tap-highlight-color: transparent;
	}
}