:root {
	--popup-height: 520px;
	--popup-width: 340px;
	--popup-width-expanded: 500px;
}

.is-safari,
.is-mobile-safari,
.is-firefox-mobile {
	#popup-container {
		scrollbar-width: thin;
	}
}
.is-side-panel,
.is-mobile-safari,
.is-firefox-mobile {
	--popup-height: 100vh;
	--popup-width: 100vw;
	--popup-width-expanded: 100vw;
}

#popup {
	height: var(--popup-height);
	overflow: hidden;
	font-family: var(--font-default);
}

#popup-container:has(.variables-panel.show) {
	width: var(--popup-width-expanded);
	transition: width 0.1s ease-in-out;
	overflow: hidden;
}
#popup-container {
	max-height: 100%;
	display: flex;
	flex-direction: column;
	width: var(--popup-width);
	height: 100%;
	overflow: hidden;
	transition: width 0.1s ease-in-out;

	::selection {
		background-color: var(--text-selection);
	}
	.error-message {
		margin: 0;
		padding: 24px 12px;
		text-align: center;
		color: var(--text-muted);
		font-size: var(--font-ui-smaller);
		align-items: center;
		justify-content: center;
		height: 100%;
	}

	::-webkit-scrollbar{
		width: 8px;
	}
	::-webkit-scrollbar-track-piece {
		background-color: var(--background-primary);
	}
	::-webkit-scrollbar-thumb {
		background-color: var(--background-modifier-border-hover);
		outline: 2px solid var(--background-primary);
		outline-offset: -2px;
		border: 1px solid var(--background-primary);
		border-radius: 10px;
	}
	::-webkit-scrollbar-thumb:hover {
		background-color: var(--background-modifier-border-focus);
	}
}

.clipper {
	display: flex;
	flex-direction: column;
	height: 100%;
	max-height: 100%;
	overflow: hidden;

	#note-name-field {
		border: none;
		border-radius: 0;
		padding: 6px 12px 10px 12px;
		font-size: var(--font-ui-medium);
		font-weight: 600;
		resize: none;
		min-height: 2rem;
		max-height: 6rem;
		overflow-y: auto;
		&:active,
		&:focus {
			box-shadow: none;
		}
	}

	.metadata-properties-header {
		padding: 0 12px 6px;
		font-size: var(--font-ui-small);
		font-weight: 500;
		color: var(--text-muted);
		user-select: none;
		-webkit-user-select: none;
		cursor: pointer;
		display: flex;
		flex-direction: row;
		gap: 2px;
		align-items: center;
		&:hover {
			color: var(--text-normal);
		}
		svg {
			color: var(--text-muted);
			transition: transform 0.1s ease-in-out;
		}
		&.collapsed {
			svg {
				transform: rotate(-90deg);
				transition: transform 0.1s ease-in-out;
			}
		}
	}

	.metadata-properties {
		--input-height: 28px;
		padding: 2px 8px 8px;
		margin: 0;
		display: flex;
		flex-direction: column;
		flex-shrink: 1;
		gap: 1px;
		max-height: 46%;;
		overflow-y: scroll;
		&:empty {
			display: none;
		}
		&.collapsed {
			display: none;
		}
		.metadata-property {
			display: flex;
			flex-direction: row;
			gap: 2px;
			align-items: center;
			border-radius: var(--radius-s);
			border: 1px solid transparent;
			transition:
				box-shadow .15s ease-in-out,
				border .15s ease-in-out;
			&:hover {
				border-color: var(--background-modifier-border);
			}
			&:focus-within {
				border-color: var(--background-modifier-border-focus);
				box-shadow: 0 0 0 2px var(--background-modifier-border-focus);
				transition:
					box-shadow .15s ease-in-out,
					border .15s ease-in-out;
			}
			label {
				width: 120px;
				padding-inline-start: 6px;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
				font-weight: 400;
				color: var(--text-muted);
				font-size: var(--font-ui-small);
				user-select: none;
				-webkit-user-select: none;
				margin: 0;
			}
			input {
				border: none;
				&:hover,
				&:active,
				&:focus {
					border: none;
					box-shadow: none;
				}
			}
		}
	}

	#note-content-container {
		display: flex;
		flex-grow: 1;
		#note-content-field {
			border-radius: 0;
			border: none;
			border-top: 1px solid var(--divider-color);
			padding: 10px;
			resize: none;
			&:active,
			&:focus {
				box-shadow: none;
			}
		}
	}

	.clipper-footer {
		width: 100%;
		display: flex;
		flex-direction: column;
		gap: 8px;
		padding: 10px 10px;
		border-top: 1px solid var(--divider-color);
		background-color: var(--background-primary);
		button {
			font-weight: 500;
		}
	}
	.vault-path-container {
		display: flex;
		flex-direction: row;
		gap: 8px;
		#vault-container {
			flex-grow: 1;
		}
		#vault-select {
			font-weight: 500;
			min-width: 100px;
			cursor: pointer;
		}
	}
}

#popup-header {
	display: flex;
	flex-direction: row;
	padding: 4px 4px 0 4px;
	align-items: center;
	gap: 2px;
}

#template-container {
	flex-grow: 1;
	select {
		width: 100%;
	}
}

#template-container.hidden ~ #note-name-field {
	padding: 4px 58px 10px 12px;
}

.has-error {
	#show-variables,
	#template-select {
		display: none;
	}
}

#template-select {
	appearance: none;
	border: none;
	padding: 4px 8px 4px 8px;
	width: 100%;
	margin-inline-start: 0;
	margin-inline-end: auto;
	font-weight: 500;
	color: var(--text-muted);
	height: 1.625rem;
	cursor: default;
	&:hover {
		color: var(--text-normal);
		background-color: var(--background-modifier-hover);
		transition: background-color var(--duration-fast) ease-in-out;
	}
	&:active,
	&:focus {
		color: var(--text-normal);
		box-shadow: none;
	}
}

.is-chromium #popup-header {
	--radius-s: 40px;
}

#popup-actions {
	z-index: 100;
	justify-self: flex-end;
	align-items: center;
	margin-left: auto;
	user-select: none;
	-webkit-user-select: none;
	background-color: var(--background-primary);
	display: flex;
	flex-direction: row;
	.clickable-icon {
		border-radius: var(--radius-s);
		user-select: none;
		-webkit-user-select: none;
		background-color: transparent;
		cursor: default;
		&:hover {
			background-color: var(--background-modifier-hover);
			transition: background-color var(--duration-fast) ease-in-out;
		}
	}
}