:root {
	--popup-width: 350px;
	--popup-width-expanded: 500px;
	--popup-height: 540px;
	--popup-max-height: 540px;
}

.is-safari,
.is-mobile-safari,
.is-firefox-mobile {
	#popup-container {
		scrollbar-width: thin;
	}
}
.is-side-panel,
.is-mobile-safari,
.is-firefox-mobile {
	--popup-height: 100vh;
	--popup-max-height: 100vh;
	--popup-width: 100vw;
	--popup-width-expanded: 100vw;
}

#popup {
	scrollbar-width: none;
	height: max(var(--popup-height), 100vh);
	max-height: var(--popup-max-height);
	overflow: hidden;
	font-family: var(--font-default);
	&::-webkit-scrollbar {
		display: none;
	}
}

#popup-container:has(.variables-panel.show) {
	width: var(--popup-width-expanded);
	transition: width 0.1s ease-in-out;
	overflow: hidden;
}
#popup-container {
	height: 100%;
	max-height: 100%;
	display: flex;
	flex-direction: column;
	width: var(--popup-width);
	overflow: hidden;
	transition: width 0.1s ease-in-out;

	::selection {
		background-color: var(--text-selection);
	}
	.error-message {
		margin: 0;
		padding: 24px var(--popup-padding);
		text-align: center;
		color: var(--text-muted);
		font-size: var(--font-ui-smaller);
		align-items: center;
		justify-content: center;
		height: 100%;
	}

	::-webkit-scrollbar{
		width: 8px;
	}
	::-webkit-scrollbar-track-piece {
		background-color: var(--background-primary);
	}
	::-webkit-scrollbar-thumb {
		background-color: var(--background-modifier-border-hover);
		outline: 2px solid var(--background-primary);
		outline-offset: -2px;
		border: 1px solid var(--background-primary);
		border-radius: 10px;
	}
	::-webkit-scrollbar-thumb:hover {
		background-color: var(--background-modifier-border-focus);
	}
}

.clipper {
	display: flex;
	flex-direction: column;
	height: 100%;
	max-height: 100%;
	overflow: hidden;

	#note-name-field {
		border: none;
		border-radius: 0;
		background-color: transparent;
		padding: 6px var(--popup-padding) 10px var(--popup-padding);
		font-size: var(--font-ui-medium);
		font-weight: 600;
		resize: none;
		min-height: 2rem;
		max-height: 6rem;
		overflow-y: auto;
		&:active,
		&:focus {
			box-shadow: none;
		}
		&::-webkit-scrollbar {
			display: none;
		}
	}

	#note-content-container {
		display: flex;
		flex-grow: 1;
		#note-content-field {
			background-color: transparent;
			border-radius: 0;
			border: none;
			border-top: 1px solid var(--divider-color);
			padding: 10px var(--popup-padding);
			resize: none;
			&:active,
			&:focus {
				box-shadow: none;
			}
		}
	}

	.clipper-footer {
		width: 100%;
		display: flex;
		flex-direction: column;
		gap: 0.625rem;
		padding: 0.625rem;
		border-top: 1px solid var(--divider-color);
		background-color: var(--background-primary);
		button {
			font-weight: 500;
		}
	}
	.vault-path-container {
		display: flex;
		flex-direction: row;
		gap: 0.625rem;
		#vault-container {
			flex-grow: 1;
		}
		#vault-select {
			font-weight: var(--clipper-select-font-weight);
			min-width: 100px;
			cursor: pointer;
		}
	}
}

.clipper ~ .metadata-properties {
	display: none;
}

#popup-header {
	display: flex;
	flex-direction: row;
	padding: calc(var(--popup-padding) * 0.5) calc(var(--popup-padding) * 0.5) 0;
	align-items: center;
	gap: 2px;
}

#template-container {
	flex-grow: 1;
	select {
		width: 100%;
	}
}

.has-error {
	#show-variables,
	#template-select {
		display: none;
	}
}

#template-select {
	appearance: none;
	border: none;
	background-color: transparent;
	border-radius: var(--radius-m);
	padding: 0 calc(var(--popup-padding) * 0.5);
	width: 100%;
	margin-inline-start: 0;
	margin-inline-end: auto;
	font-weight: var(--clipper-select-font-weight);
	color: var(--text-muted);
	height: 1.625rem;
	cursor: default;
	&:hover {
		color: var(--text-normal);
		background-color: var(--background-modifier-hover);
		transition: background-color var(--duration-fast) ease-in-out;
	}
	&:active,
	&:focus {
		color: var(--text-normal);
		box-shadow: none;
	}
}

.is-chromium #popup-header {
	--radius-m: 40px;
}

#popup-actions {
	z-index: 100;
	justify-self: flex-end;
	align-items: center;
	margin-left: auto;
	user-select: none;
	-webkit-user-select: none;
	background-color: var(--background-primary);
	display: flex;
	flex-direction: row;
	gap: 2px;
	.clickable-icon {
		border-radius: var(--radius-m);
		user-select: none;
		-webkit-user-select: none;
		background-color: transparent;
		cursor: default;
		&.active {
			background-color: hsla(var(--color-accent-hsl), 0.075);
			color: var(--text-accent);
		}
		&:hover {
			background-color: var(--background-modifier-hover);
			transition: background-color var(--duration-fast) ease-in-out;
		}
	}
}
