.clipper {
	display: flex;
	flex-direction: column;
	gap: 8px;
	padding: 10px;

	.metadata-properties {
		margin: 0;
		display: flex;
		flex-direction: column;
		gap: 2px;
		.metadata-property {
			display: flex;
			flex-direction: row;
			gap: 2px;
			align-items: center;
			border-radius: 4px;
			border: 1px solid transparent;
			transition:
				box-shadow .15s ease-in-out,
				border .15s ease-in-out;
			&:hover {
				border-color: var(--background-modifier-border);
			}
			&:focus-within {
				border-color: var(--background-modifier-border-focus);
				box-shadow: 0 0 0 2px var(--background-modifier-border-focus);
				transition:
					box-shadow .15s ease-in-out,
					border .15s ease-in-out;
			}
			label {
				width: 100px;
				padding-inline-start: 6px;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
				font-weight: 400;
				color: var(--text-muted);
				font-size: 14px;
				user-select: none;
				margin: 0;
			}
			input {
				border: none;
				&:hover,
				&:active,
				&:focus {
					border: none;
					box-shadow: none;
				}
			}
		}
	}
}