.mod-rtl {
	--dropdown-background-position: left .25rem top 50%, 0 0;
	--dropdown-padding: 0 0.5rem 0 1.75rem;

	svg.lucide-icon:not(
		.lucide-help-circle,
		.lucide-check,
		.lucide-check-square,
		.lucide-code-2) {
			transform: scale(-1, 1);
	}

	.action-buttons .menu-btn {
		left: 0;
		right: auto;
	}

	.search-input-container:before,
	.checkbox-container {
		transform: scale(-1, 1);
	}
	input,
	textarea {
		unicode-bidi: plaintext;
	}
}