#settings {
	margin: 0 auto;
	padding: 0;
	height: 100vh;
	overflow: hidden;

	h2 {
		margin-top: 0;
	}
}

.settings-container {
	display: flex;
	height: 100%;
}

.setting-item-description {
	color: var(--text-muted);
	font-size: 0.8rem;
	margin: 4px 0 12px;
	line-height: 1.3;
}

.metadata-add-button {
	padding-bottom: 24px;
	font-weight: 500;
	color: var(--text-muted);
	font-size: 0.875rem;
	cursor: pointer;
}

.sidebar {
	background-color: var(--background-secondary);
	width: 25%;
	overflow: scroll;
	min-width: 200px;
	max-width: 300px;
	flex-shrink: 0;
	border-inline-end: 1px solid var(--background-modifier-border);
	padding: 0 16px 24px 16px;

	ul {
		font-size: 0.857rem;
		list-style-type: none;
		padding: 0;
		margin: 0;
		display: flex;
		flex-direction: column;
		gap: 4px;

		li {
			cursor: pointer;
			padding: 6px;
			border-radius: 4px;
			user-select: none;

			&:hover {
				background-color: var(--background-modifier-hover);
			}
			&.active {
				background-color: var(--background-modifier-hover);
			}
		}
	}

	.sidebar-heading {
		font-weight: 500;
		margin-top: 16px;
		pointer-events: none;
		color: var(--text-faint);
		font-size: 0.8rem;
	}

	#template-list {
		margin-top: 8px;
		margin-bottom: 16px;
	}

	#new-template-btn,
	#delete-template-btn {
		width: 100%;
		margin-bottom: 8px;
	}
}

.content {
	flex-grow: 1;
	overflow: scroll;
}

.settings-section {
	display: none;
	flex-direction: column;
	gap: 8px;
	max-width: 600px;
	margin: 24px 4% 24px 4%;

	&.active {
		display: flex;
	}
}

#template-properties {
	display: flex;
	flex-direction: column;
	gap: 8px;
	margin: 12px 0;
	
	> div {
		display: flex;
		flex-direction: row;
		gap: 4px;
	}
}

#template-list {
	list-style-type: none;
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: column;
	gap: 3px;

	li {
		cursor: pointer;
		padding: 6px;
		border-radius: 4px;
		display: flex;
		justify-content: space-between;
		align-items: center;

		&:hover {
			background-color: var(--background-modifier-hover);
		}
		&.active {
			background-color: var(--background-modifier-hover);
			color: var(--text-normal);
		}

		.delete-template-btn {
			background: none;
			border: none;
			cursor: pointer;
			padding: 2px;
			color: var(--text-muted);
			opacity: 0.7;
			transition: opacity 0.2s ease;
			margin: -6px;

			&:hover {
				opacity: 1;
			}
		}
	}
}