
#settings {
	max-width: 600px;
	margin: 40px auto;
	padding: 0 4%;
}

.settings-section {
	display: flex;
	flex-direction: column;
	gap: 8px;
	margin-bottom: 24px;
}

#template-fields {
	display: flex;
	flex-direction: column;
	gap: 8px;
	margin: 8px 0;
	
	.template-field {
		display: flex;
		flex-direction: row;
		gap: 4px;
	}
}