#settings {
	margin: 0 auto;
	padding: 0;
	height: 100vh;
	overflow: hidden;

	h2 {
		margin-top: 0;
	}
}

.settings-container {
	display: flex;
	height: 100%;
}

.settings-section {
	display: none;
	flex-direction: column;
	gap: 8px;
	max-width: 600px;
	margin: 24px max(4%, 24px) 72px max(4%, 24px);

	&.active {
		display: flex;
	}
}

.settings-section-header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.settings-section-actions {
	display: flex;
	flex-direction: row;
	gap: 8px;
}

.setting-item.mod-horizontal {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	.setting-item-info {
		font-size: 0.875rem;
	}
}

.setting-item-description {
	color: var(--text-muted);
	font-size: 0.8rem;
	margin: 4px 0 12px;
	line-height: 1.3;
	a {
		color: var(--text-muted);
		&:hover {
			color: var(--text-accent);
		}
	}
}

.metadata-add-button {
	padding: 2px 0 8px;
	margin-left: -2px;
	font-weight: 500;
	color: var(--text-muted);
	font-size: 0.875rem;
	user-select: none;
	white-space: nowrap;
	a {
		cursor: pointer;
		border-radius: 4px;
		padding: 6px 8px;
		&:hover {
			background-color: var(--background-modifier-hover);
		}
	}
}

.sidebar {
	background-color: var(--background-secondary);
	width: 25%;
	overflow: scroll;
	min-width: 200px;
	max-width: 300px;
	flex-shrink: 0;
	border-inline-end: 1px solid var(--background-modifier-border);
	padding: 0 16px 24px 16px;

	ul {
		font-size: 0.857rem;
		list-style-type: none;
		padding: 0;
		margin: 0;
		display: flex;
		flex-direction: column;
		gap: 4px;

		li {
			cursor: pointer;
			padding: 6px;
			border-radius: 4px;
			user-select: none;

			&:hover {
				background-color: var(--background-modifier-hover);
			}
			&.active {
				background-color: var(--background-modifier-hover);
			}
		}
	}

	.sidebar-heading {
		font-weight: 500;
		margin-top: 16px;
		pointer-events: none;
		color: var(--text-faint);
		font-size: 0.8rem;
	}

	#template-list {
		margin-top: 8px;
		margin-bottom: 16px;
	}

	#new-template-btn,
	#delete-template-btn {
		width: 100%;
		margin-bottom: 8px;
	}
}

.content {
	flex-grow: 1;
	overflow: scroll;
}

#template-properties {
	display: flex;
	flex-direction: column;
	gap: 8px;
	margin: 12px 0;
	&:empty {
		display: none;
	}
	> .property-editor {
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 4px;
	}
	.property-name {
		max-width: 120px;
	}
}

#template-list {
	list-style-type: none;
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: column;
	gap: 3px;

	li {
		cursor: pointer;
		padding: 6px;
		border-radius: 4px;
		display: flex;
		justify-content: space-between;
		align-items: center;

		&:hover {
			background-color: var(--background-modifier-hover);
		}
		&.active {
			background-color: var(--background-modifier-hover);
			color: var(--text-normal);
		}
		.template-name {
			flex-grow: 1;
			margin-right: auto;		}
		.delete-template-btn {
			flex-shrink: 1;
			background: none;
			border: none;
			cursor: pointer;
			padding: 2px;
			color: var(--text-muted);
			opacity: 0.7;
			transition: opacity 0.2s ease;
			margin: -6px;
			box-shadow: none;

			&:hover {
				opacity: 1;
			}
		}
	}
}

.property-select {
	position: relative;
	color: var(--text-muted);
	display: flex;
	align-items: center;
	justify-content: center;
	select {
		opacity: 0;
		width: 24px;
		height: var(--input-height);
		cursor: pointer;
		z-index: 2;
	}
	.property-selected {
		z-index: 1;
		position: absolute;
		top: 0;
		left: 0;
		user-select: none;
		width: 24px;
		height: var(--input-height);
		display: flex;
		align-items: center;
		justify-content: center;
		opacity: 0.85;
		svg {
			width: 16px;
			height: 16px;
		}
	}
	&:hover {
		color: var(--text-normal);
	}
}

#general-settings-form {
	> div {
		margin-bottom: 3rem;
	}
}

#vault-list {
	display: flex;
	flex-direction: column;
	margin: 8px 0 24px;
	padding: 0;
	li {
		display: flex;
		flex-direction: row;
		gap: 4px;
		padding: 2px 0;
		align-items: center;
		font-size: 0.875rem;
		font-weight: 500;
		border-bottom: 1px solid var(--background-modifier-border);
		button {
			margin-left: auto;
			width: auto;
		}
	}
}

#keyboard-shortcuts-list {
	display: flex;
	flex-direction: column;
	margin-top: 8px;
}
.shortcut-item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 12px 0;
	border-bottom: 1px solid var(--background-modifier-border);
	span {
		font-size: 0.875rem;
	}
	.setting-hotkey {
		background-color: var(--background-modifier-border);
		padding: 2px 8px;
		border-radius: 4px;
		font-size: 0.8rem;
	}
}