#template-properties {
	display: flex;
	flex-direction: column;
	gap: 0.375rem;
	margin: 0.75rem 0;
	&:empty {
		display: none;
	}
	> .property-editor {
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 0.375rem;
		height: var(--input-height);
	}
	.property-name {
		max-width: 7rem;
	}
	.remove-property-btn {
		height: var(--input-height);
		width: 1.5rem;
	}
}

.property-select {
	position: relative;
	color: var(--text-muted);
	display: flex;
	align-items: center;
	justify-content: center;
	select {
		opacity: 0;
		width: 1.5rem;
		height: var(--input-height);
		cursor: pointer;
		z-index: 2;
	}
	.property-selected {
		z-index: 1;
		position: absolute;
		top: 0;
		left: 0;
		user-select: none;
		-webkit-user-select: none;
		width: 1.5rem;
		height: var(--input-height);
		display: flex;
		align-items: center;
		justify-content: center;
		opacity: 0.85;
		svg {
			width: var();
			height: 16px;
		}
	}
	&:hover {
		color: var(--text-normal);
	}
}

.is-mobile {
	#template-properties {
		--input-height: 2rem;
		--background-modifier-form-field: transparent;
		gap: 0;
		.property-editor {
			border-bottom: 1px solid var(--background-modifier-border);
		}
	}
}