@media (max-width: 769px) {
	.obsidian-highlighter-menu {
		--obsidian-highlighter-menu-font-size: 15px;
		--obsidian-highlighter-menu-padding: 4px;
		--obsidian-highlighter-menu-height: 32px;
		--obsidian-undo-button-display: flex;
		--obsidian-highlighter-button-border: none;
		top: auto !important;
		bottom: 25px !important;
	}
}

/* Hide the clip button on iPadOS because it's not supported  */
.is-ipad-os {
	.obsidian-highlighter-menu {
		#obsidian-clip-button {
			display: none;
		}
	}
}

body.obsidian-highlighter-active {
	--obsidian-highlighter-menu-font-size: 13px;
	--obsidian-highlighter-menu-padding: 4px;
	--obsidian-highlighter-menu-height: 24px;
	--obsidian-undo-button-display: none;
	--obsidian-highlighter-button-border: inset rgba(255, 255, 255, 0.1) 0px 0px 0px 1px !important;

	// Disable pinch zoom on mobile
	touch-action: pan-x pan-y;
	cursor: crosshair;
	a {
		cursor: crosshair !important;
	}
	*::selection {
		background-color: rgba(255, 235, 0, 0.35) !important;
	}
	.obsidian-highlight-overlay {
		cursor: pointer;
		pointer-events: auto;
	}
}

.obsidian-highlighter-menu {
	cursor: default;
	position: fixed;
	top: 20px;
	left: 50%;
	transform: translateX(-50%);
	border: 1px solid #424242;
	background: #353535;
	color: #fff;
	padding: 4px;
	border-radius: var(--obsidian-highlighter-menu-height);
	display: flex;
	align-items: center;
	gap: 4px;
	z-index: 9999999999;
	font-family: ui-sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Inter", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
	font-size: var(--obsidian-highlighter-menu-font-size) !important;
	font-weight: 600 !important;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2) !important;
	user-select: none;
	-webkit-user-select: none;
	-webkit-font-smoothing: antialiased !important;
	font-variant-numeric: tabular-nums;
	white-space: nowrap !important;

	.no-highlights {
		font-weight: 600 !important;
		padding: 0 4px 0 8px;
	}

	button#obsidian-redo-highlights:not(.active),
	button#obsidian-undo-highlights:not(.active) {
		background-color: transparent !important;
		opacity: 0.5;
		cursor: default !important;
	}
	button#obsidian-undo-highlights,
	button#obsidian-redo-highlights {
		display: var(--obsidian-undo-button-display) !important;
	}

	.highlight-count {
		font-variant-numeric: tabular-nums;
		color: #bebebe !important;
		padding-inline-start: 4px;
	}

	button#obsidian-clear-highlights {
		padding: 0 8px 0 8px !important;
	}

	button {
		font-family: ui-sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Inter", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Microsoft YaHei Light", sans-serif !important;
		font-size: var(--obsidian-highlighter-menu-font-size) !important;
		appearance: none !important;
		background-color: transparent !important;
		color: #bebebe !important;
		font-weight: 600 !important;
		height: var(--obsidian-highlighter-menu-height) !important;
		min-width: var(--obsidian-highlighter-menu-height) !important;
		padding: 0 !important;
		border-radius: var(--obsidian-highlighter-menu-height) !important;
		border: none !important;
		cursor: pointer !important;
		box-shadow: none !important;
		outline: none !important;
		display: flex;
		align-items: center;
		justify-content: center;
		font-variant-numeric: tabular-nums !important;
		gap: 4px;
		background-color: rgba(255, 255, 255, 0.1) !important;
		box-shadow: var(--obsidian-highlighter-button-border) !important;
		-webkit-font-smoothing: antialiased !important;
		svg {
			color: #bebebe;
			width: 16px;
			height: 16px;
			path, line {
				color: #bebebe;
			}
		}
		@media (hover: hover) {
			&:hover {
				color: white !important;
				background-color: rgba(255, 255, 255, 0.25) !important;
				svg {
					color: white !important;
					path, line {
						color: white !important;
					}
				}
			}
		}
		&.mod-cta {
			background-color: #895DF4 !important;
			color: white !important;
			padding: 0 8px !important;
			box-shadow: var(--obsidian-highlighter-button-border) !important;
			@media (hover: hover) {
				&:hover {
					background-color: #A68AF9 !important;
				}
			}
		}
	}
}

body.obsidian-highlighter-always-show,
body.obsidian-highlighter-active {
	.obsidian-highlight-overlay {
		display: block;
	}
}

.obsidian-highlight-overlay {
	display: none;
	position: absolute;
	background-color: rgba(255, 235, 0, 0.35);
	border-radius: 4px;
	mix-blend-mode: multiply;
	pointer-events: none;
	z-index: 999999998;
	&.is-hovering {
		border: 2px dashed rgb(255, 235, 0, 1);
	}
	&.obsidian-highlight-overlay-dark {
		mix-blend-mode: screen;
		background-color: rgba(255, 235, 0, 0.25);
		&.is-hovering {
			border: 2px dashed rgb(255, 235, 0, 0.5);
		}
	}
}

#obsidian-highlight-hover-overlay {
	position: absolute;
	border-radius: 4px;
	border: 2px dashed rgb(255, 235, 0, 0.8);
	pointer-events: none;
	z-index: 999999997;
	&.on-highlight {
		border-color: transparent;
	}
}

html.obsidian-reader-active {
	font-size: 62.5%;
}

.obsidian-reader-active	body {
	--obsidian-reader-font-family: system-ui, -apple-system, sans-serif;
	--obsidian-reader-dynamic-font-size: calc(var(--obsidian-reader-font-size) + 0.25vw);


	--obsidian-reader-background-primary: #fff;
	--obsidian-reader-background-primary-alt: #fcfcfc;
	--obsidian-reader-text-primary: #222222;
	--obsidian-reader-text-muted: #5c5c5c;
	--obsidian-reader-text-faint: #ababab;
	--obsidian-reader-text-accent: #222222;
	--obsidian-reader-text-accent-hover: #222222;
	--obsidian-reader-border: #e0e0e0;

	@media (prefers-color-scheme: dark) {
		--obsidian-reader-background-primary: #1e1e1e;
		--obsidian-reader-background-primary-alt: #212121;
		--obsidian-reader-text-primary: #dadada;
		--obsidian-reader-text-muted: #b3b3b3;
		--obsidian-reader-text-faint: #666666;
		--obsidian-reader-text-accent: #dadada;
		--obsidian-reader-text-accent-hover: #dadada;
		--obsidian-reader-border: #363636;

		.mw-invert {
			filter: invert(1);
		}
	}

	background: var(--obsidian-reader-background-primary) !important;	
	color: var(--obsidian-reader-text-primary) !important;
	font-size: var(--obsidian-reader-dynamic-font-size) !important;
	width: var(--obsidian-reader-line-width) !important;
	margin: 4rem auto 16rem !important;
	max-width: 90% !important;
	line-height: var(--obsidian-reader-line-height) !important;
	font-family: var(--obsidian-reader-font-family) !important;
	img, video, figure {
		max-width: 100%;
		height: auto;
	}
	figure {
		margin-inline-start: 0;
		margin-inline-end: 0;
	}
	a {
		color: var(--obsidian-reader-text-primary);
	}
	pre {
		background-color: var(--obsidian-reader-background-primary-alt);
		font-size: 85%;
		border-radius: 8px;
		padding: 12px 16px;
		white-space: pre;
		max-width: 100%;
		overflow-x: auto;
		border: 1px solid var(--obsidian-reader-border);
	}
	.metadata {
		margin-bottom: 2em;
		padding-bottom: 1em;
		border-bottom: 1px solid var(--obsidian-reader-border);
	}
	.metadata h1 {
		margin: 0 0 0.5em 0;
		line-height: 1.3;
	}
	.metadata-details {
		color: var(--obsidian-reader-text-muted);
		font-size: 0.9em;
	}
	.metadata-details a {
		color: inherit;
		text-decoration: none;
		color: var(--obsidian-reader-text-muted);
	}
	.metadata-details a:hover {
		text-decoration: underline;
	}
}