@media (max-width: 769px) {
	.obsidian-highlighter-menu {
		--obsidian-highlighter-menu-font-size: 14px;
		--obsidian-highlighter-menu-padding: 4px;
		--obsidian-highlighter-menu-height: 30px;
		--obsidian-undo-button-display: flex;
		--obsidian-highlighter-button-border: none;
		top: auto !important;
		bottom: 25px !important;
	}
}

.obsidian-highlighter-active {
	--obsidian-highlighter-menu-font-size: 13px;
	--obsidian-highlighter-menu-padding: 4px;
	--obsidian-highlighter-menu-height: 24px;
	--obsidian-undo-button-display: none;
	--obsidian-highlighter-button-border: inset rgba(255, 255, 255, 0.1) 0px 0px 0px 1px !important;

	cursor: crosshair;
	a {
		cursor: crosshair !important;
	}
	*::selection {
		background-color: rgba(255, 235, 0, 0.35) !important;
	}
	.obsidian-highlight-overlay {
		cursor: pointer;
		pointer-events: auto;
	}
}

.obsidian-highlighter-menu {
	cursor: default;
	position: fixed;
	top: 20px;
	left: 50%;
	transform: translateX(-50%);
	border: 1px solid #424242;
	background: #353535;
	color: #fff;
	padding: 4px;
	border-radius: var(--obsidian-highlighter-menu-height);
	display: flex;
	align-items: center;
	gap: 4px;
	z-index: 100000;
	font-family: ui-sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Inter", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Microsoft YaHei Light", sans-serif;
	font-size: var(--obsidian-highlighter-menu-font-size) !important;
	font-weight: 600 !important;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2) !important;
	user-select: none;
	-webkit-user-select: none;
	-webkit-font-smoothing: antialiased !important;
	font-variant-numeric: tabular-nums;
	white-space: nowrap !important;

	.no-highlights {
		font-weight: 600 !important;
		padding: 0 4px 0 8px;
	}

	button#obsidian-redo-highlights:not(.active),
	button#obsidian-undo-highlights:not(.active) {
		background-color: transparent !important;
		opacity: 0.5;
		cursor: default !important;
	}
	button#obsidian-undo-highlights,
	button#obsidian-redo-highlights {
		display: var(--obsidian-undo-button-display) !important;
	}

	.highlight-count {
		font-variant-numeric: tabular-nums;
		color: #bebebe !important;
		padding-inline-start: 4px;
	}

	button#obsidian-clear-highlights {
		padding: 0 8px 0 8px !important;
	}

	button {
		font-family: ui-sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Inter", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Microsoft YaHei Light", sans-serif !important;
		font-size: var(--obsidian-highlighter-menu-font-size) !important;
		appearance: none !important;
		background-color: transparent !important;
		color: #bebebe !important;
		font-weight: 600 !important;
		height: var(--obsidian-highlighter-menu-height) !important;
		min-width: var(--obsidian-highlighter-menu-height) !important;
		padding: 0 !important;
		border-radius: var(--obsidian-highlighter-menu-height) !important;
		border: none !important;
		cursor: pointer !important;
		box-shadow: none !important;
		outline: none !important;
		display: flex;
		align-items: center;
		justify-content: center;
		font-variant-numeric: tabular-nums !important;
		gap: 4px;
		background-color: rgba(255, 255, 255, 0.1) !important;
		box-shadow: var(--obsidian-highlighter-button-border) !important;
		-webkit-font-smoothing: antialiased !important;
		svg {
			color: #bebebe;
			width: 16px;
			height: 16px;
		}
		@media (hover: hover) {
			&:hover {
				color: white !important;
				background-color: rgba(255, 255, 255, 0.25) !important;
				svg {
					color: white !important;
				}
			}
		}
		&.mod-cta {
			background-color: #895DF4 !important;
			color: white !important;
			padding: 0 8px !important;
			box-shadow: var(--obsidian-highlighter-button-border) !important;
			@media (hover: hover) {
				&:hover {
					background-color: #A68AF9 !important;
				}
			}
		}
	}
}

.obsidian-highlight-overlay {
	position: absolute;
	background-color: rgba(255, 235, 0, 0.35);
	box-shadow: 0 0 0 2px rgb(255, 235, 0, 0.35);
	border-radius: 4px;
	mix-blend-mode: multiply;
	pointer-events: none;
	z-index: 9999;
	&.obsidian-highlight-overlay-dark {
		mix-blend-mode: screen;
		box-shadow: 0 0 0 2px rgb(255, 235, 0, 0.25);
		background-color: rgba(255, 235, 0, 0.25);
	}
}

#obsidian-highlight-hover-overlay {
	position: absolute;
	border-radius: 5px;
	border: 2px dashed rgb(255, 235, 0, 0.7);
	pointer-events: none;
	z-index: 9998;
}
