@import 'styles/_variables';

* {
	box-sizing: border-box;
	font-family: ui-sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Inter", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Microsoft YaHei Light", sans-serif;
}

html {
	font-size: 16px;
}

body {
	padding: 0;
	margin: 0;
	background-color: var(--background-primary);
	color: var(--text-normal);
}

@import 'styles/inputs';
@import 'styles/settings';
@import 'styles/popup';
@import 'styles/icons';

a.text-muted,
.text-muted {
	color: var(--text-muted);
}

.small {
	font-size: 0.875rem;
}

h2 {
	font-size: 1.5rem;
}
h3 {
	font-size: 1.25rem;
}
h4 {
	font-size: 1rem;
}
