@import 'styles/_variables';

* {
	box-sizing: border-box;
	font-family: var(--font-default);
}

html {
	font-size: 16px;
}

body {
	padding: 0;
	margin: 0;
	background-color: var(--background-primary);
	color: var(--text-normal);
	line-height: 1.4;
	font-size: var(--font-ui-medium);
}

@import 'styles/mobile';

@import 'styles/buttons';
@import 'styles/charts';
@import 'styles/dragging';
@import 'styles/dropdowns';
@import 'styles/icons';
@import 'styles/inputs';
@import 'styles/inspect-variables';
@import 'styles/interpreter';
@import 'styles/menu';
@import 'styles/modals';
@import 'styles/popup';
@import 'styles/properties';
@import 'styles/rtl';
@import 'styles/safari';
@import 'styles/settings';
@import 'styles/side-panel';
@import 'styles/templates';
@import 'styles/tree-items';
@import 'styles/toggles';

a.text-muted,
.text-muted {
	color: var(--text-muted);
}

.text-warning {
	color: var(--text-warning);
}

.small {
	font-size: var(--font-ui-small);
}

strong {
	font-weight: 600;
}

h2 {
	font-size: 1.5rem;
	line-height: 1.1;
	margin-bottom: 0.25rem;
}
h3 {
	font-size: 1rem;
	font-weight: 600;
	margin-top: 1.5rem;
	margin-bottom: 8px;
	border-bottom: 1px solid var(--background-modifier-border);
	padding-bottom: 0.5rem;
}
h4 {
	font-size: var(--font-ui-medium);
}

pre, code {
	font-family: var(--font-monospace-default);
}

.is-hidden {
	display: none !important;
}
