@import 'styles/_variables';

* {
	box-sizing: border-box;
	font-family: var(--font-default);
}

html {
	font-size: 16px;
}

body {
	padding: 0;
	margin: 0;
	background-color: var(--background-primary);
	color: var(--text-normal);
	line-height: 1.4;
	font-size: var(--font-ui-medium);
}

@import 'styles/mobile';

@import 'styles/buttons';
@import 'styles/dragging';
@import 'styles/dropdowns';
@import 'styles/icons';
@import 'styles/inputs';
@import 'styles/inspect-variables';
@import 'styles/interpreter';
@import 'styles/menu';
@import 'styles/modals';
@import 'styles/popup';
@import 'styles/properties';
@import 'styles/rtl';
@import 'styles/safari';
@import 'styles/settings';
@import 'styles/side-panel';
@import 'styles/templates';
@import 'styles/tree-items';
@import 'styles/toggles';

a.text-muted,
.text-muted {
	color: var(--text-muted);
}

.text-warning {
	color: var(--text-warning);
}

.small {
	font-size: var(--font-ui-small);
}

strong {
	font-weight: 600;
}

h2 {
	font-size: 1.5rem;
	line-height: 1.1;
	margin-bottom: 0.25rem;
}
h3 {
	font-size: 1rem;
	font-weight: 600;
	margin-top: 1.5rem;
	margin-bottom: 8px;
	border-bottom: 1px solid var(--background-modifier-border);
	padding-bottom: 0.5rem;
}
h4 {
	font-size: var(--font-ui-medium);
}

pre, code {
	font-family: var(--font-monospace-default);
}

.usage-chart-header {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	margin-bottom: 1rem;

	.usage-chart-title {
		h3 {
			margin-top: 0;
			margin-bottom: 4px;
			padding-bottom: 0;
			border-bottom: none;
		}

		.setting-item-description {
			margin-top: 0;
		}
	}

	.usage-chart-controls {
		padding-top: 4px;
		display: flex;
		gap: 8px;
	}
}

.usage-chart {
	margin: 0;
	padding: 1rem 0 2rem;
	border-bottom: 1px solid var(--background-modifier-border);
	
	.chart-label {
		font-size: 0.8em;
		color: var(--text-muted);
		writing-mode: vertical-rl;
		transform: rotate(180deg);
		text-align: right;
		height: 40px;
		overflow: hidden;
		display: none;
	}
	
	.chart-count {
		font-size: 0.8em;
		color: var(--text-muted);
		display: none;
	}
	
	.chart-line {
		position: relative;
		display: flex;
		align-items: flex-end;
		gap: 4px;
		height: 80px;
		
		svg {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			pointer-events: none;
			z-index: 1;
			overflow: visible;
			width: 100%;
			height: 100%;
		}
		
		.chart-line-path {
			fill: none;
			stroke: var(--interactive-accent);
			stroke-width: 2px;
			vector-effect: non-scaling-stroke;
		}
		
		.chart-bar-container {
			position: relative;
			flex: 1;
			height: 100%;
		}
	}
}
