body {
    
	&.obsidian-tidy-active {
        font-size: 16px !important;
        width: 42rem !important;
        max-width: 90% !important;
        margin: 0 auto !important;
        line-height: 1.6 !important;
        font-family: system-ui, -apple-system, sans-serif !important;
		
		@media (prefers-color-scheme: dark) {
			background: #1a1a1a;
			color: #eee;
		}
	}
}

#tidy-mode.active {
	background-color: rgba(255, 255, 255, 0.2) !important;
	color: white !important;
}